<template>
  <nb-container :style="{backgroundColor: '#fff'}">
      <nb-header :style="{backgroundColor: '#042430'}">
        <status-bar :barStyle="'light-content'"></status-bar>
        <nb-left>
          <nb-button transparent :onPress="() => this.props.navigation.goBack()">
            <nb-icon name="menu" class='white-text' :onPress="() => this.props.navigation.navigate('DrawerOpen')" />
          </nb-button>
        </nb-left>
        <nb-body>
          <nb-title class='white-text'>Users</nb-title>
        </nb-body>
        <nb-right />
      </nb-header>

      <nb-content padder>
          <nb-card v-for="(user, key) in usersArr"
                   :key=key>
              <nb-card-item>
                  <nb-left>
                      <nb-thumbnail :source="logo"></nb-thumbnail>
                      <nb-body>
                          <nb-text> {{user.username}} </nb-text>
                          <nb-text note>{{user.email}}</nb-text>
                      </nb-body>
                  </nb-left>
              </nb-card-item>
                <nb-card-item>
                    <nb-left>
                        <nb-button transparent>
                            <nb-icon name="thumbs-up" active></nb-icon>
                            <nb-text>Invite</nb-text>
                        </nb-button>
                    </nb-left>
                    <nb-body>
                        <nb-button transparent>
                            <nb-icon name="chatbubbles" active></nb-icon>
                            <nb-text :onPress="() => this.props.navigation.navigate('Chat', {toUser: key})">Message</nb-text>
                        </nb-button>
                    </nb-body>
                    <nb-right>
                        <nb-text>11h ago</nb-text>
                    </nb-right>
                </nb-card-item>
            </nb-card>
        </nb-content>
      </nb-container>
</template>

<script>
import logo from "../../../assets/logo.png";
import cardImage from "../../../assets/drawer-cover.png";
import firebase from 'firebase';
import config from '../../constants.js';

if (!firebase.apps.length) {
  firebase.initializeApp(config);
}

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      logo,
      cardImage,
      stylesObj: {
        cardItemImage: {
          resizeMode: "cover"
        }
      },
      usersArr: {},
      a: 'sdsds',
      currentUser: firebase.auth().currentUser
    };
  },
  mounted() {
    this.getListUsers()
  },

  methods: {
    getListUsers(){
      firebase.database().ref('/users').once('value').then(snapshot => {
        const filterUser = snapshot.val()
        delete filterUser[this.currentUser.uid]
        this.usersArr = Object.assign({}, this.usersArr, filterUser)
      });
    },

    gotoPrivateChat(){

    }
  },
};
</script>

<style>
.mb-15 {
  margin-bottom: 15;
}
.card-item-image {
  flex: 1;
  height: 200;
}
.white-text {
  color: #fff;
}
</style>
