<template></template>

<script>
import firebase from 'firebase';
import config from '../../constants.js';
import { Toast } from "native-base";

if (!firebase.apps.length) {
  firebase.initializeApp(config);
}

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
    }
  },
  created() {
    firebase.auth().signOut().then(function() {
      console.log('Signed Out');
      }, function(error) {
        console.error('Sign Out Error', error);
    });
  },
}
</script>

<style></style>
