<template>
  <gifted-chat
    :messages="messages"
    :onSend="(messages) => onSend(messages)"
    :user="user"
   />
   <KeyboardSpacer v-if="platform == 'android'" />
</template>
<script>
import React from 'react'
import { GiftedChat } from 'react-native-gifted-chat'
import config from '../../constants.js';
import Fire from '../../../Firebase.js';
import KeyboardSpacer from 'react-native-keyboard-spacer';
import { View, Platform } from 'react-native';

export default {
  props: ['toUser'],
  components: { GiftedChat },

  data() {
    return {
      messages: [
				{
						_id: 1,
						text: 'Hello developer',
						createdAt: new Date(),
						user: {
							_id: 2,
							name: 'React Native',
							avatar: 'https://placeimg.com/140/140/any',
						},
					},
      ],
      user: {
         name: Fire.shared.email,
         _id: Fire.shared.uid,
         avatar: Fire.shared.avatar
      },
      platform: Platform.OS,
      chatID: ''
    }
  },

  mounted: async function() {
    let flag = ''
    if(this.toUser){
      this.chatID = Fire.shared.createPrivateChatData(this.toUser)
      flag = 'private'
    }else{
      this.chatID = 'PublicChat'
      flag = 'public'
    }

    await Fire.shared.on((message) => this.messages = GiftedChat.append(this.messages, message), flag, this.chatID)
    console.log('platform', this.platform)
  },

  methods: {
    async onSend(messages = []) {
      if(this.toUser){
        await Fire.shared.send(messages, this.chatID)
      }else{
        await Fire.shared.sendPublic(messages, this.chatID)
      }
    },
  }
};
</script>
