<template>
	<nb-container>
    <nb-header :style="{backgroundColor: '#042430'}">
      <status-bar :barStyle="'light-content'"></status-bar>
      <nb-left>
        <nb-button transparent :onPress="() => this.props.navigation.goBack()">
          <nb-icon name="menu" class='white-text' :onPress="() => this.props.navigation.navigate('DrawerOpen')" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title :style="{color: '#fff'}">Chat room</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>

    <chat-form :toUser="toUser" />
  </nb-container>
</template>
<script>
import ChatForm from './chat-form.vue';

export default {
  props: {
    navigation: {
      type: Object
    }
  },

  data(){
    return {
      toUser: this.navigation.getParam('toUser')
    }
  },

  components: { ChatForm }
};
</script>
