<template>
  <nb-container>
      <nb-header :style="{backgroundColor: '#042430'}">
        <status-bar :barStyle="'light-content'"></status-bar>
        <nb-left>
          <nb-button transparent :onPress="() => this.props.navigation.goBack()">
            <nb-icon name="menu" class='white-text' :onPress="() => this.props.navigation.navigate('DrawerOpen')" />
          </nb-button>
        </nb-left>
        <nb-body>
          <nb-title class='white-text'>PrivateChat</nb-title>
        </nb-body>
        <nb-right />
      </nb-header>

      <nb-content>
        <nb-list-item thumbnail v-for="(val, key) in listChats" :key="key">
          <nb-left>
            <nb-thumbnail square :source="logo" />
          </nb-left>
          <nb-body>
            <nb-text>{{val}}</nb-Text>
            <nb-text note :numberOfLines="1">{{ key }}</nb-Text>
          </nb-body>
          <nb-right>
            <nb-button transparent>
              <nb-text>View</nb-text>
            </nb-button>
          </nb-right>
        </nb-list-item>
      </nb-content>
    </nb-container>
</template>
<script>
import logo from "../../../assets/logo.png";
import cardImage from "../../../assets/drawer-cover.png";
import firebase from 'firebase';
import config from '../../constants.js';
import Fire from '../../../Firebase.js';

export default {
  data() {
    return {
      logo,
      props: {
        navigation: {
          type: Object
        }
      },
      listChats: Fire.shared.getChatListOfCurrentUser() || {}
    }
  }
};
</script>
