<template>
  <nb-container id="firebaseui-auth-container">
    <status-bar :barStyle="'light-content'"></status-bar>
    <image-background :source="launchScreenBg" class="imageContainer">
      <nb-content>
        <view class="logoContainer" :style="stylesObj.logoContainerStyle">
          <image-background :source="launchscreenLogo" class="logo" :style="stylesObj.logoStyle" />
        </view>
        <view>
          <nb-form class='formContainer'>
            <nb-item rounded :style="{marginBottom: 20}">
              <nb-input v-model="email" placeholder="Username" class='text-color-white' placeholderTextColor="#fff" :style="{paddingLeft: 20}"/>
            </nb-item>
            <nb-item last rounded>
              <nb-input v-model="password" secureTextEntry placeholder="Password" class='text-color-white' placeholderTextColor="#fff"/>
            </nb-item>

            <nb-button :on-press="handleSignInClick" :style="stylesObj.btnContainer" v-if="isSignin">
              <nb-text>Sign In</nb-text>
            </nb-button>

            <nb-button :on-press="handleSignUpClick" :style="stylesObj.btnContainer" v-if="isSignup">
              <nb-text>Sign Up</nb-text>
            </nb-button>
          </nb-form>
        </view>
        <view class="text-container" v-if='isSignin'>
          <nb-text :onPress="() => goToSignUp()" :style="{marginBottom: 20}" class="text-color-white">Sign Up</nb-text>
          <nb-text :style="{marginBottom: 20}" class="text-color-white">Forgot password </nb-text>
        </view>

        <view class="text-container" v-if='isSignup'>
          <nb-text :onPress="() => goToSignIn()" :style="{marginBottom: 20}" class="text-color-white">Signin</nb-text>
        </view>

      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import firebase from 'firebase';
import config from '../../constants.js';
import launchScreenBg from "../../../assets/bg.jpg";
import launchscreenLogo from "../../../assets/app-name.png";
import { Platform } from "react-native";
import { Toast } from "native-base";
import Fire from "../../../Firebase.js"
import { AppLoading, Permissions, Notifications } from 'expo';


// if (!firebase.apps.length) {
//   firebase.initializeApp(config);
// }

export default {
  props: {
    navigation: {
      type: Object
    }
  },

  data() {
    return {
      email: '',
      password: '',
      launchScreenBg: launchScreenBg,
      launchscreenLogo: launchscreenLogo,
      stylesObj: {
        logoContainerStyle: {
          marginTop: 0
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
          marginTop: 20
        },
        inputForm: {
          placeholderTextColor: "#fff"
        }
      },
      isSignup: false,
      isSignin: true,
      deviceToken: '',
    }
  },
  created() {
    this.getIdTokenDevice().then((token) => this.deviceToken = token)
  },
  mounted() {
  },
  methods: {
    goToSignUp() {
      this.isSignin = false
      this.isSignup = true
      this.email = ''
      this.password = ''
    },

    goToSignIn(){
      this.isSignin = true
      this.isSignup = false
      this.email = ''
      this.password = ''
    },

    handleSignInClick() {
      const email = this.email
      const password = this.password
      firebase.auth().signInWithEmailAndPassword(email, password)
      .then(function(user){
        this.navigation.navigate("Home")
      })
      .catch(function(error) {
        var errorMessage = error.message;
        Toast.show({
          text: errorMessage,
          buttonText: "Okay",
          type: "error"
        });
      });
    },

    handleSignUpClick() {
      const email = this.email
      const password = this.password
      const router = this.navigation
      const _this = this
      firebase.auth().createUserWithEmailAndPassword(email, password).then(function(auth){
        _this.saveDatabase(auth)
        router.navigate("Home")

        Toast.show({
          text: 'Sign Up Success',
          buttonText: "Okay",
          type: "success"
        });
      }).catch(function(error) {
        let errorCode = error.code;
        let errorMessage = error.message;
        Toast.show({
          text: errorMessage,
          buttonText: "Okay",
          type: "error"
        });
      });
    },
    getIdTokenDevice: async function() {
			const { status: existingStatus } = await Permissions.getAsync(
				Permissions.NOTIFICATIONS
			);
			let finalStatus = existingStatus;

			// only ask if permissions have not already been determined, because
			// iOS won't necessarily prompt the user a second time.
			if (existingStatus !== 'granted') {
				// Android remote notification permissions are granted during the app
				// install, so this will only ask on iOS
				const { status } = await Permissions.askAsync(Permissions.NOTIFICATIONS);
				finalStatus = status;
			}

			// Stop here if the user did not grant permissions
			if (finalStatus !== 'granted') {
				return;
			}

			// Get the token that uniquely identifies this device
			let token = await Notifications.getExpoPushTokenAsync();
			
      return token
      // Fire.shared.saveDeviceToken(token)
			
    },
    saveDatabase(auth){
      firebase.database().ref('users/' + auth.user.uid).set({
        username: auth.user.email.substring(0, auth.user.email.indexOf("@")),
        email: auth.user.email,
      })
      if(this.deviceToken != '') {
        firebase.database().ref('devices/' + auth.user.uid).set({
          expoDeviceToken: this.deviceToken
        })
      }
    },
  }
}
</script>

<style>
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
  /* bottom: 40; */
  /* margin-top: 100; */
  top: 90;
  margin-bottom: 100;
}
.formContainer {
  align-self: center;
  margin-top: 80;
  width: 280;
}
.logo {
  /* position: absolute; */
  width: 280;
  height: 100;
}
.text-container {
  margin-top: 100px;
  align-items: center;
  margin-bottom: 50;
  background-color: transparent;
}
.text-color-white {
  color: #fff;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.form-container {
  margin-top: 100px;
  align-items: center;
  margin-bottom: 50;
  background-color: transparent;
}
</style>
