<template>
	<nb-container>
    <nb-header :style="{backgroundColor: '#042430'}">
      <status-bar :barStyle="'light-content'"></status-bar>
      <nb-left>
        <nb-button transparent :onPress="() => this.props.navigation.goBack()">
          <nb-icon name="menu" class='white-text' :onPress="() => this.props.navigation.navigate('DrawerOpen')" />
        </nb-button>
      </nb-left>
      <nb-body>
        <nb-title center class='white-text'>Profile</nb-title>
      </nb-body>
      <nb-right />
    </nb-header>
		<nb-content>
			<nb-card-item>
				<nb-left>
          <nb-button :on-press="openLibrary">
            <nb-thumbnail :source="{uri: dataImage || sampleImage}"></nb-thumbnail>
          </nb-button>
					<nb-body>
						<nb-text> {{ currentUser.email }} </nb-text>
						<nb-text note> {{ currentUser.username || 'NO USERNAME' }}</nb-text>
					</nb-body>
					<nb-right>
            <nb-button :on-press="() => this.props.navigation.navigate('Camera')" :style="{ backgroundColor: '#007AFF' }">
              <nb-icon active name="camera" />
            </nb-button>
					</nb-right>
				</nb-left>
			</nb-card-item> 
		</nb-content>
  </nb-container>
</template>

<script>
import firebase from 'firebase';
import logo from "../../../assets/logo.png";
import config from '../../constants.js';
import { Toast } from "native-base";
import React from 'react';
import { Button, Image, View } from 'react-native';
import { ImagePicker, Permissions } from 'expo';
import { Container, Header, Content, Card, CardItem, Thumbnail, Text, Icon, Left, Body, Right } from 'native-base';

if (!firebase.apps.length) {
  firebase.initializeApp(config);
}
const storageRef = firebase.storage().ref();
const imgRef = storageRef.child('images');

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      dataImage: null,
      sampleImage: 'https://img.icons8.com/ios/50/000000/user-male-circle-filled.png',
			logo,
      stylesObj: {
        cardItemImage: {
          resizeMode: "cover"
        }
      },
      currentUser: {},
      hasCameraPermission: false
    }
  },
  async mounted() {
    this.currentUser = firebase.auth().currentUser
    this.dataImage = this.currentUser.photoURL
    let { status } = await Expo.Permissions.getAsync(Permissions.CAMERA_ROLL)
    this.hasCameraPermission = status

    if(status != 'granted') {
      let { status } = await Expo.Permissions.askAsync(Permissions.CAMERA_ROLL)
      this.hasCameraPermission = status
    }
  },
  methods: {
    openLibrary: async function() {
      if(this.hasCameraPermission == 'granted') {
        let result = await ImagePicker.launchImageLibraryAsync({
          allowsEditing: true,
          aspect: [4, 3],
        });

        if (!result.cancelled) {
          this.uploadImage(result.uri).then(() => {
            this.dataImage = result.uri
            imgRef.child(this.currentUser.email).getDownloadURL().then(url => {
              this.currentUser.updateProfile({
                photoURL: url
              })
            })
            return Toast.show({
              text: "Upload Avatar success",
              buttonText: "Okay",
              type: "success"
            })
          }).catch((error) => {
            console.log(error)
            return Toast.show({
              text: error.message_,
              buttonText: "Okay",
              type: "error"
            })
          })
        }
      } else {
      }
    },
    uploadImage: async function(uri) {
      const response = await fetch(uri);
      const blob = await response.blob();
      const avatar = imgRef.child(this.currentUser.email)
      return avatar.put(blob)
    },
  }
}
</script>

<style></style>
