<template>
  <app-navigation></app-navigation>
</template>

<script>
import React from "react"
import { StackNavigator, DrawerNavigator } from "vue-native-router";
import HomeScreen from "./screens/home/index.vue";
import SignIn from "./screens/signin/index.vue";
import Guest from "./screens/guest/index.vue";
import SignUp from "./screens/signup/index.vue";
import Setting from "./screens/setting/index.vue";
import SignOut from "./screens/signout/index.vue";
import SideBarScreen from "./screens/sidebar/index.vue";
import RoomScreen from "./screens/room/index.vue";
import Camera from "./screens/camera/index.js";
import Chat from "./screens/message/index.vue";
import PrivateChat from "./screens/message/private-list.vue";

const Drawer = DrawerNavigator(
  {
    Home:       { screen: HomeScreen },
    SignOut:    { screen: SignOut },
    SignUp:     { screen: SignUp },
    Guest:      { screen: Guest },
    Setting:    { screen: Setting },
    Camera:     { screen: Camera },
    Room:       { screen: RoomScreen },
    Chat:       { screen: Chat },
    PrivateChat: { screen: PrivateChat },
  },
  {
    initialRouteName: "Home",
    contentOptions: {
      activeTintColor: "#e91e63"
    },
    contentComponent: props => {
      return <SideBarScreen {...props} />;
    }
  }
)

const AppNavigation = StackNavigator(
  {
    Drawer: { screen: Drawer }
  },
  {
    initialRouteName: "Drawer",
    headerMode: "none"
  },
)

export default {
  components: { AppNavigation },
}

</script>
