<template>
  <root>
    <view v-if="isAppReady" class="container">
      <home v-if="currentUser" />
      <guest v-else />
    </view>
    <view v-else>
      <nb-spinner />
    </view>
  </root>
</template>

<script>
import Vue from "vue-native-core";
import { VueNativeBase, Toast, Root, Spninner } from "native-base";
import { Notifications } from 'expo';
import Home from "./index.vue";
import Guest from "./screens/guest/index.vue";
Vue.use(VueNativeBase);
// import Fire from '../Firebase.js';
import { YellowBox } from 'react-native';
import _ from 'lodash';
import firebase from 'firebase';

YellowBox.ignoreWarnings(['Setting a timer']);
const _console = _.clone(console);
console.warn = message => {
  if (message.indexOf('Setting a timer') <= -1) {
      _console.warn(message);
    }
};

export default {
  components: { Home, Root, Guest },
  data: function() {
    return {
      isAppReady: false,
      currentUser: null,
      listener: null,
    }
  },
  created: function() {
    this.loadFonts()
    console.ignoredYellowBox = [
      'Setting a timer'
    ]
    firebase.auth().onAuthStateChanged(user => {
      this.isAppReady = true
      this.currentUser = user
    });
  },
  methods: {
    loadFonts: async function() {
      try {
        this.isAppReady = false;
        await Expo.Font.loadAsync({
          Roboto: require("native-base/Fonts/Roboto.ttf"),
          Roboto_medium: require("native-base/Fonts/Roboto_medium.ttf"),
          Ionicons: require("@expo/vector-icons/fonts/Ionicons.ttf")
        });
      } catch (error) {
      }
    },
  }
};
</script>

<style>
.container {
  flex: 1;
}
</style>
