<template>
  <nb-container id="firebaseui-auth-container">
    <status-bar :barStyle="'light-content'"></status-bar>
    <image-background :source="launchScreenBg" class="imageContainer">
      <nb-content>
        <view class="logoContainer" :style="stylesObj.logoContainerStyle">
          <image-background :source="launchscreenLogo" class="logo" :style="stylesObj.logoStyle" />
        </view>
        <view>
          <nb-form class='formContainer'>
            <nb-item rounded >
              <nb-input v-model="email" placeholder="Username" class='text-color-white' />
            </nb-item>
            <nb-item last rounded>
              <nb-input v-model="password" secureTextEntry placeholder="Password" class='text-color-white'/>
            </nb-item>
            <nb-button :style="stylesObj.btnContainer">
              <nb-text :on-press="handleSignUp">Sign Up</nb-text>
            </nb-button>
          </nb-form>
        </view>
      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import firebase from 'firebase';
import config from '../../constants.js';
import launchScreenBg from "../../../assets/bg.jpg";
import launchscreenLogo from "../../../assets/app-name.png";
import { Dimensions, Platform } from "react-native";
import { Toast } from "native-base";

if (!firebase.apps.length) {
  firebase.initializeApp(config);
}

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      email: '',
      password: '',
      launchScreenBg: launchScreenBg,
      launchscreenLogo: launchscreenLogo,
      stylesObj: {
        logoContainerStyle: {
          marginTop: 0
        },
        logoStyle: {
          left: Platform.OS === "android" ? 40 : 50,
          top: Platform.OS === "android" ? 35 : 60
        },
        btnContainer: {
          backgroundColor: "#6faf98",
          alignSelf: "center",
          marginTop: 20
        }
      },
    }
  }
}
</script>

<style>
.imageContainer {
  flex: 1;
}
.text-color-primary {
  color: blue;
  font-family: Roboto;
}
.logoContainer {
  flex: 1;
  /* bottom: 40; */
  /* margin-top: 100; */
  top: 90;
  margin-bottom: 100;
}
.formContainer {
  align-self: center;
  margin-top: 80;
  width: 280;
}
.logo {
  /* position: absolute; */
  width: 280;
  height: 100;
}
.text-container {
  margin-top: 100px;
  align-items: center;
  margin-bottom: 50;
  background-color: transparent;
}
.text-color-white {
  color: #fff;
}
.button-container {
  background-color: #6faf98;
  align-self: center;
}
.form-container {
  margin-top: 100px;
  align-items: center;
  margin-bottom: 50;
  background-color: transparent;
}
</style>
